.row{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
}
.tabla{
    width: 50%;
    border-style: solid;
    border-width: thin;
    border-color: black;
    text-align: center;
    margin-left: 25%;
    background-color:rgb(255, 185, 55);
}
@media screen and (max-width: 1000px) {
    .tabla{
        background-color:rgb(248, 128, 107);
    }
}
