#login{
    text-align: center;
    width: 30vw;
    background-color:rgb(233, 219, 182);
    border-color: black;
    border-style: solid;
    border-width: thin;
    margin-left:34vw;
    padding: 1%;
}
@media screen and (max-width: 1000px) {
    #login{
        width: 40vw;
        margin-left:27vw;
        background-color: rgb(253, 178, 173);
        border-color: rgb(255, 72, 0);
    }
}